<%= flash[:notice] %>
<h1 class="page-title">Videos with audio descriptions</h1>

<div id="videos" class="flex-box left">
  <% @videos_info.each do |video| %>
  <div class="card flex-item">
    <div class="text-center">
      <%= image_tag video["thumbnails"]["default"]["url"] %>
    </div>
    <div class="text-center">
      <%= link_to video["title"], "/video/#{video["id"]}", data: { turbolinks: 'false' }, :class => 'inline-link' %>
    </div>
    <div class="text-center">
      Descriptions in 
      <% video["lang_list"].each do |lang| %>
        <% if lang == video["lang_list"].last %>
          <%= LanguageList::LanguageInfo.find(lang).name %>
        <% else %>
          <%= LanguageList::LanguageInfo.find(lang).name %>,
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<script>
</script>