<%= form_with url: video_path, method: :get do |form| %>
  <%= form.label :yt_url, "Enter YouTube URL: " %>
  <%= form.text_field :yt_url %>
  <%= form.submit "Describe" %>
<% end %>
<h1 class="page-title">Videos</h1>
<%= flash[:notice] %>
