<h1>Watch: <%=@yt_info["title"]%></h1>
<p><strong>Track ID: <%=@track.id%> | Author: <%= @track.user.username %></strong></p>

<br>

<div id="player"></div>

<audio controls style="display: none" id="description-player" onEnded="onDescriptionEnd()">
  <source id="audio-source" src="#" type="audio/wav">
  Your browser does not support the audio element.
</audio>

<script>
    var tag = document.createElement("script");
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName("script")[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    const vid = "<%= @video.yt_video_id %>";

    // helpers
    let log = (s) => console.log(s);
    let id = (val) => document.getElementById(val);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player("player", {
            height: "390",
            width: "640",
            videoId: vid,
            events: {
                'onReady': onPlayerIsReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    let description_data = <%= @descriptions.to_json.html_safe %>;
    let description_player = id("description-player");
    let audio_source = id("audio-source");

    let current_index = 0;
    let num_descriptions = description_data.length;
    var timeMonitoringIntervalID = null;

    let lastVolume = 100;
    let isPlayingDescription = false;

    let onPlayerIsReady = (event) => {
        timeMonitoringIntervalID = setInterval(monitorTime, 100);

        /// set up seek tracking
        var lastTime = -1;
        var interval = 1000;

        var checkPlayerTime = function () {
            if (lastTime != -1) {
                if(player.getPlayerState() == YT.PlayerState.PLAYING) {
                    var t = player.getCurrentTime();

                    /// expecting 1 second interval , with 500 ms margin
                    if (Math.abs(t - lastTime - 1) > 0.5) {
                        // there was a seek occuring
                        console.log("seek!");
                        onSeek();
                    }
                }
            }
            lastTime = player.getCurrentTime();
            setTimeout(checkPlayerTime, interval); /// repeat function call in 1 second
        }
        setTimeout(checkPlayerTime, interval); /// initial call delayed
    }

    let onPlayerStateChange = (event) => {
        if (isPlayingDescription) {
            if (event.data == YT.PlayerState.PLAYING && description_data[current_index]["inline_extended"] === "extended") {
                player.pauseVideo();
            }

            if (event.data == YT.PlayerState.PAUSED && description_data[current_index]["inline_extended"] === "inline") {
                player.playVideo();
            }
        }
    }

    let monitorTime = () => {
        if (current_index >= num_descriptions) return;

        let current_description = description_data[current_index];
        let curr_time = player.getCurrentTime();

        if (curr_time > current_description["start_time_sec"]) {
            if (timeMonitoringIntervalID != null) clearInterval(timeMonitoringIntervalID);
            isPlayingDescription = true;
            triggerDescription();
        }
    }

    let onSeek = () => {
        let current_time = player.getCurrentTime();
        for (var i = 0; i < description_data.length; i++) {
            let this_description = description_data[i];
            if (this_description["start_time_sec"] > current_time) {
                current_index = i;
                break;
            }
        }
    }

    let triggerDescription = () => {
        let current_description = description_data[current_index];
        assignURLToAudioPlayer(current_description["url"]);

        if (current_description["inline_extended"] === "extended") {
            playExtendedDescription();
        } else if (current_description["inline_extended"] === "inline") {
            playInlineDescription();
        }
    }

    let assignURLToAudioPlayer = (url) => {
        audio_source.src = url;
        description_player.load();
    }

    let playExtendedDescription = () => {
        player.pauseVideo();
        description_player.play();
    }

    let playInlineDescription = () => {
        lastVolume = player.getVolume();
        player.setVolume(lastVolume/10);
        description_player.play();
    }

    let onDescriptionEnd = () => {
        if (current_index >= num_descriptions) return;

        let description_that_just_ended = description_data[current_index];
        current_index += 1;

        if (description_that_just_ended["inline_extended"] === "extended") {
            player.playVideo();
        } else if (description_that_just_ended["inline_extended"] === "inline") {
            player.setVolume(lastVolume);
        }

        isPlayingDescription = false;
        timeMonitoringIntervalID = setInterval(monitorTime, 100);
    }

</script>