<h1><%=@yt_info["title"]%></h1>
<h2>This video does not yet have audio descriptions.</h2>
<% if session[:userinfo].nil? %>
  <%= link_to "Login to request AD for this video", '/auth/auth0', method: :post, :class => 'btn btn-primary' %>
  <%= link_to "Login to describe this video", '/auth/auth0', method: :post, :class => 'btn btn-primary' %>
<% else %>
  <%= form_tag "/video/#{@video.id}/request", :method => :post do %>
  <%= csrf_meta_tags %>
    <%= submit_tag 'Request AD for this video', :class => 'btn btn-primary' %>
  <% end %>
  <%= button_to 'Describe this video', "/video/#{@video.id}/describe", :class => 'btn btn-primary', :method => :get, data: { turbolinks: 'false' } %>
<% end %>