<h1 class="text-center page-title"><%=@yt_info["title"]%></h1>
<p>This video does not yet have audio descriptions.</p>

<br>

<% if session[:userinfo].nil? %>
  <%= link_to "Login to request AD for this video", '/auth/auth0', method: :post, :class => 'btn btn-primary' %>
  <%= link_to "Login to describe this video", '/auth/auth0', method: :post, :class => 'btn btn-primary' %>
<% else %>
  <h3>request AD for this video</h3>
  <%= form_tag "/video/#{@video.id}/request", :method => :post do %>
    <%= csrf_meta_tags %>
    <%= select_tag :lang, raw(@langs) %>
    <%= submit_tag 'Request AD for this video', :class => 'btn btn-primary' %>
  <% end %>

  <br>

  <h3>describe this video</h3>
  <%= form_tag "/video/#{@video.id}/describe", :method => :get do %>
    <%= csrf_meta_tags %>
    <%= select_tag :lang, raw(@langs) %>
    <%= submit_tag 'Describe this video', :class => 'btn btn-primary' %>
  <% end %>
<% end %>