<h2 class="text-center page-title"><%=@yt_info["title"]%></h2>
<div id="player"></div>

<br>

<div><p><%= @all_tracks.size %> description track(s) found!</p></div>

<table id="all-description-tracks">
  <tr>
    <th>ID</th>
    <th>Author</th>
    <th>Lang</th>
    <th>Published?</th>
    <th>Link</th>
  </tr>
  <% @all_tracks.each do |dtrack| %>
    <tr>
      <td><%= dtrack.id %></td>
      <td><%= dtrack.user.username %></td>
      <td><%= LanguageList::LanguageInfo.find(dtrack.lang).name %></td>
      <td><%= dtrack.published ? "Yes" : "No" %></td>
      <td>
        <%= link_to "Watch!", "/video/#{params[:id]}/play/#{dtrack["id"]}", :class => "btn btn-primary #{'disabled' unless dtrack.published}", data: { turbolinks: 'false' } %>
        <% if not session[:userinfo].nil? and session[:userinfo]["nickname"] ==  dtrack.user.username %>
          <%= link_to "Edit", "/video/#{params[:id]}/describe/#{dtrack.id}", :class => 'btn btn-primary', data: { turbolinks: 'false' } %>
          <%= link_to "Delete", "/video/#{params[:id]}/delete/#{dtrack.id}", :class => 'btn btn-danger', data: { turbolinks: 'false' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<h3>Create new description track</h3>

<%= form_tag "/video/#{@video.id}/describe", :method => :get do %>
  <%= csrf_meta_tags %>
  <%= select_tag :lang, raw(@langs) %>
  <%= submit_tag 'Create new track!', :class => 'btn btn-primary' %>
<% end %>

<br>

<h3>Video Info</h3>
<%= @yt_info["description"].gsub(/\n/, '<br/>').html_safe %>
<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
        height: '390',
        width: '640',
        videoId: '<%=@video.yt_video_id%>',
    });
    }
</script>