<%= flash[:notice] %>
<h1 class="page-title">Video requests</h1>

<table class="table col-md-12" id="video_requests">
  <thead>
    <tr>
      <th>Title</th>
      <th>Votes</th>
      <th>Requested language</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @requests_info.each do |request| %>
      <tr>
        <td>
          <%= request["title"] %>
        </td>
        <td>
          <%= request["vote_count"] %>
        </td>
        <td>
          <%= LanguageList::LanguageInfo.find(request["requested_lang"]).name %>
        </td>
        <% if session[:userinfo].nil? %>
        <td>
            <%= link_to "Login to upvote this request!", '/auth/auth0', method: :post %>
        </td>
        <% else %>
        <td>
          <%= link_to "Upvote this request!", "/video_requests/#{request["id"]}", data: { turbolinks: 'false' } %>
        </td>
        <% end %>
        <td>
          <%= link_to "Show", "/video/#{request["video_id"]}", data: { turbolinks: 'false' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>