<h1 class="page-title">My Dashboard</h1>

<h3>About Me</h3>
<%= @user.username %>
<%= @user.options %>

<h3>My Requests</h3>
<table class="table table-striped col-md-12" id="requests">
  <thead>
    <tr>
      <th>Video title</th>
      <th>Requested language</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td>
          <%= request.video.video_info["title"] %>
        </td>
        <td>
          <%= request["requested_lang"] %>
        </td>
      </tr>
    <% end %>
    <% @upvotes.each do |upvote| %>
      <tr>
        <td>
          <%= upvote.video_request.video.video_info["title"] %>
        </td>
        <td>
          <%= upvote.video_request["requested_lang"] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>My Comments</h3>
<table class="table table-striped col-md-12" id="comments">
  <thead>
    <tr>
      <th>Video title</th>
      <th>Video info</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.description_track.video.video_info["title"] %>
    </td>
    <td>
      <%= comment.description_track.video.video_info["description"] %>
    </td>
    <td>
      <%= comment.comment_text %>
    </td>
  </tr>
  </tbody>
</table>
<% end %>