<h2>Log in</h2>
  <%= link_to "Actually, I'm new here! Create an account", user_new_path, :class => 'btn btn-primary' %>
<%= form_tag '/user/login', :method => :post do %>
<%= csrf_meta_tags %>
  <%= label :user, :email, 'Email', :class => 'col-form-label' %>
  <%= text_field :user, 'email', :class => 'form-control' %>
  <%= label :user, :password, 'Password', :class => 'col-form-label' %>
  <%= text_field :user, 'password', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Log in', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', user_path, :class => 'btn btn-secondary' %>
<% end %>

