<h2>Create user account</h2>
<%= form_tag '/user', :method => :post do %>
<%= csrf_meta_tags %>
  <%= label :user, :email, 'Email', :class => 'col-form-label' %>
  <%= text_field :user, 'email', :class => 'form-control' %>
  <%= label :user, :password, 'Password', :class => 'col-form-label' %>
  <%= text_field :user, 'password', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Create', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', user_path, :class => 'btn btn-secondary' %>
<% end %>

