<div class="card">
  <div class="card-body">
    <strong>@<%= description_track_comment.comment_author.username %></strong>: <%= description_track_comment.comment_text %>
    <span style="float: right; color: #616161;">
      <%= description_track_comment.time_est.strftime('%l:%M %P est, %b %e %Y') %>
    </span>
  </div>
</div>
<% if description_track_comment.replies.any? %>
  <% description_track_comment.replies.each do |reply| %>
    <%= render partial: 'description_track_comments/reply', locals: { reply: reply } %>
  <% end %>
<% end %>

<% if session[:userinfo].nil? %>
<% else %>
<div class="card" style="margin-left: 2rem;">
  <div class="card-body">
  <%= form_with(url: "/video/#{@track.video.id}/play/comment") do |f| %>
      <%= f.hidden_field :dtrack_id, :value => description_track_comment.description_track.id %>
      <%= f.hidden_field :parent_comment_id, :value => description_track_comment.id %>
      <div class="form-group">
      <%= f.text_area :comment_text, placeholder: "Reply to @#{description_track_comment.comment_author.username}", class: 'form-control', aria: { "label": "Reply text box" } %>
      </div>
      <%= f.submit 'Post', method: :post, class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
<% end %>