<!DOCTYPE html>
<html lang="en">
  <head>
    <title>W4156DescribeThat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-wrapper">
      <div id="content">
        <nav id="page-nav" class="container-fluid">
          <div class="row">
            <div class="col-md-5 text-left">
              <h1 style="display:inline; font-size: 1.25rem;"><%= link_to "DescribeThat!", '/', :class => 'nav-link min-padding' %></h1>
              <span style="color: black">Audio descriptions for all.</span>
            </div>
            <div class="col-md-4 float-center" style="padding: 10px 20px">
              <%= form_with url: video_path, method: :get do |form| %>
                <%= form.text_field :yt_url, placeholder: "YouTube URL", aria: { "label": "Search by YouTube video URL" } %>
                <%= form.submit "Go" %>
              <% end %>
            </div>
            <div class="col-md-3 text-right float-right">
              <%= link_to "Requests", video_requests_path, :class => 'nav-link med-padding' %>
              <% if session[:userinfo].nil? %>
              <%= link_to "Login", '/auth/auth0', method: :post, :class => 'nav-link med-padding' %>
              <% else %>
              <%= link_to "Dashboard", '/dashboard', method: :get, :class => 'nav-link med-padding' %>
              <%= link_to "Logout", '/auth/logout', method: :get, :class => 'nav-link med-padding' %>
              <% end %>
            </div>
          </div>
        </nav>
        <div id="yielded-content">
          <%# All subsequent views are yielded within this wrapper %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer id="footer" class="text-center">
      <% unless session[:userinfo].nil? %>
        <p><em>Logged in as: &#64;<%= session[:userinfo]['nickname'] %></em></p>
      <% end %>
      <p>
        DescribeThat is a project for <%= link_to "COMS W4156 at Columbia University", 'http://www.cs.columbia.edu/~junfeng/21sp-w4156/', :class => 'inline-link' %><br>
        created by Vishnu Nair, Lauren Pham, and Sheron Wang.
      </p>
    </footer>
  </body>
</html>
