<!DOCTYPE html>
<html>
  <head>
    <title>W4156DescribeThat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-wrapper">
      <div id="content">
        <div id="page-nav" class="container">
          <div class="row">
            <div class="col-md-4" style="padding: 10px 20px">
              <%= form_with url: video_path, method: :get do |form| %>
                <%= form.text_field :yt_url, placeholder: "YouTube URL" %>
                <%= form.submit "Describe" %>
              <% end %>
            </div>
            <div class="col-md-4 text-center"><h1><%= link_to "DescribeThat!", '/', :class => 'nav-link' %></h1></div>
            <div class="col-md-4">
              <%= link_to "Requests", video_requests_path, :class => 'nav-link' %>
              <% if session[:userinfo].nil? %>
              <%= link_to "Login", '/auth/auth0', method: :post, :class => 'nav-link' %>
              <% else %>
              <%= link_to "Dashboard", '/dashboard', method: :get, :class => 'nav-link' %>
              <%= link_to "Logout", '/auth/logout', method: :get, :class => 'nav-link' %>
              <% end %>
            </div>
          </div>
        </div>
        <%# All subsequent views are yielded within this wrapper %>
        <%= yield %>
      </div>
    </div>
    <div id="footer" class="text-center">
      <p>
        DescribeThat is a project for <%= link_to "COMS W4156 at Columbia University", 'http://www.cs.columbia.edu/~junfeng/21sp-w4156/', :class => 'inline-link' %><br>
        created by Vishnu Nair, Lauren Pham, and Sheron Wang.
      </p>
    </div>
  </body>
</html>
