<!DOCTYPE html>
<html>
  <head>
    <title>W4156DescribeThat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-wrapper">
      <div id="content">
        <div id="page-nav" class="container">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center"><h1>DescribeThat!</h1></div>
            <div class="col-md-4">
              <%= link_to "Home", '/', :class => 'btn btn-primary' %>
              <%= link_to "Recently searched videos", video_recent_path, :class => 'btn btn-primary' %>
              <%= link_to "Users", user_path, :class => 'btn btn-primary' %>
              <%= link_to "Login", user_login_path, :class => 'btn btn-primary' %>
              <%= link_to "Code coverage", '/coverage', :class => 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <%# All subsequent views are yielded within this wrapper %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
